*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* Bodys */

#information main h2,
#benefiTips main h2,
#raffle h1{
    text-decoration: underline;
}

/* Inicio del header */

header{
    height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 162, 255);
}

.logo {
    object-fit: contain;
}

header nav ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}


header nav ul li a{
    margin-left: 1rem;
    text-decoration: none;
    color: white;
}

.logo{
    height: 100%;
}

.logo img{
    height: 3.5rem;
    object-fit: cover;
}

.current{
    text-decoration: underline;
}

/* Inicio del main */

main{
    min-height: 80vh;
}

h1,
h2,
.textosAbout{
    text-align: center;
}

.textosAbout h2{
    text-decoration: underline;
}

/* Index */

.section1{
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section1 img{
    height: 10rem;
    width: 80%;
    object-fit: cover;
}

.section2{
    height: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.section2 p{
    width: 50%;
}

.section2 img{
    margin-bottom: 2rem;
    height: 15rem;
    object-fit: contain;
    border-radius: 25%;
    box-shadow: 0px 9px 10px 0px #000;
}

main h1{
    text-align: center;
    margin: .6rem;
}

/* About us */

.sectionAbout div{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.sectionAbout div img{
    margin: 0 0 1rem 0;
    height: 100%;
    width: 15rem;
    object-fit: contain;
    border-radius: 25%;
    box-shadow: 0px 9px 10px 0px #000;
}

.sectionAbout div p{
    margin: 3rem;
    width: 45%;
}

/* Contact */

.sectionContact{
    width: 100%;
}

.contactImgText{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactImgText img{
    height: 20rem;
    object-fit: contain;
}

.sectionContact .contactP{
    margin-top: 2rem;
    margin-right: 7rem;
    display: flex;
    justify-content: space-evenly;
}
.sectionContact .contactP p{
    display: inline;
    margin-left: 7rem ;
}

.contactText{
    text-align: center;
}

/* BenefitsTips */

.containerBenefiTips div{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 1rem;
}

.containerBenefiTips div ol{
    margin: 1rem 2rem;
    width: 50%;
}

.containerBenefiTips div img{
    margin: 0 0 1rem 0;
    height: 10rem;
    object-fit: contain;
    border-radius: 25%;
    box-shadow: 0px 9px 10px 0px #000;
}


/* Information */

.tableContainer{
    margin: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

table{
    width: 25rem;
    height: 25rem;
    text-align: center;

}
table,
tr,
th,
td{
    border: 1px solid black;
}

/* Raffle */

.containerForm{
    display: flex;
    justify-content: center;
    align-items: center;
}

form{

    display: flex;
    flex-direction: column;
    align-items:center;
    border-radius: 1rem;
    color: white;
    background-color: rgb(0, 162, 255);
}

legend{
    text-align: center;
}

fieldset{
    border: none;
}

form .paymentControl{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.containerForm{
    display: flex;
    justify-content: space-evenly;
}

.map{
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.map iframe{
    margin-top: 1rem;
    width: 20rem;
    height: 20rem;
}


.map h2{
    font-weight: bold;
    font-size: 1.5rem;
}

textarea{
    width: 10rem;
    height: 5rem;
}

.checkbox{
    width: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button{
    padding: .2rem;
    width: 90%;
    margin-bottom: .3rem;
    border-radius: 10rem;
    color: white;
    background-color: rgb(0, 162, 255);
}


/* Footer */

footer{
    height: 10vh;
    background-color: rgb(0, 162, 255);
}

footer p{
    padding-top: 1rem;
    text-align: center;
    color: white;
}

@media only screen and (max-width: 768px){
    .checkbox{
        width: 15rem;
    }
}
@media only screen and (max-width: 425px){

    /* HEADER */
    header{ 
        height: 100%;
        position: sticky;
        top: 0;
        flex-direction: column;
    }

    header nav ul{
        flex-direction: column;
        text-align: center;
    }

    header nav ul li a{
        margin-left: 0%;
    }

    .logo img{
        height: 3rem;
    }

    /* INDEX */
    .section1 img{
        height: 10rem;
        width: 90%;
        object-fit: cover;
    }

    .section2{
        flex-direction: column-reverse;
    }

    .section2 p{
        width: 75%;
        text-align: center;
    }

    /* ABOUT */

    .sectionAbout div{
        flex-direction: column;
    }

    .sectionAbout div p{
        text-align: center;
    }

    /* CONTACT */

    .contactImgText img{
        width: 95%;
    }

    .contactP{
        flex-direction: column;
    }

    .sectionContact .contactP p{
        margin-left: 0%;
    }

    /* BENEFITIPS */

    .containerBenefiTips div{
        flex-direction: column;
        text-align: center;
    }


    table{
        width: 17rem;
    }

    .tableContainer h2{
        font-size: medium;
    }

    /* RAFFLE */

    .containerForm{
        flex-direction: column-reverse;
    }

    form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    form input, form select{
        width: 100vw;
    }

    #raffle main h2,h1{
        font-size:larger;
    }

    /* FOOTER */

    footer{
        position: sticky;
        bottom: 0;
    }
}

